body {
    font-family: sans-serif;
    margin-top: 60px;
    max-width: 100%;
    overflow-x: hidden;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}